body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFC107' fill-opacity='0.05'%3E%3Cpath d='M0 0h10v10H0zM20 0h10v10H20zM40 0h10v10H40zM60 0h10v10H60zM0 20h10v10H0zM20 20h10v10H20zM40 20h10v10H40zM60 20h10v10H60zM0 40h10v10H0zM20 40h10v10H20zM40 40h10v10H40zM60 40h10v10H60zM0 60h10v10H0zM20 60h10v10H20zM40 60h10v10H40zM60 60h10v10H60zM0 80h10v10H0zM20 80h10v10H20zM40 80h10v10H40zM60 80h10v10H60z'/%3E%3C/g%3E%3C/svg%3E");
}

header {
    background-color: #93A9FF;;
    color: #333;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar a {
    color: #333;
    text-decoration: none;
    margin: 0 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.navbar a:hover {
    border-color: #FFA000;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: calc(100% - 20px);
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #93A9FF;;
    border-radius: 10px;
    transition: all 0.3s ease;
    resize: none;
}

textarea:focus {
    border-color: #FFA000;
    box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
}

button {
    width: calc(100% - 40px);
    padding: 15px;
    background-color: #93A9FF;;
    color: #333;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
   
}



button:hover {
    background-color: #FFA000;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
   
}

